@media only screen and (max-width:479px){
    .white_bg {
        position: initial;
    }
    .pad_none_left{padding:0;}
    .pad_none_right{padding:0;}
    .pad_none{padding-left:15px;}	
    .logo {  width:98%; text-align:center; }
    .logo_right { width:98%;  text-align:center; }
    .block_line {
        text-align: center;
        width: 100%;
        margin: 1% 0;
    }
    .profile_desk{
        float:none;
    }
    .note_padding { margin-left:0; margin-top:6px; text-align:center; }
    .notification_pad {  margin-right:5px; }

    #notificationContainer {
        /*margin-left: -109px;*/
        right:0;
		z-index: 999;
    }
    #notificationContainer {
        width: 266px;
    }
    #notificationTitle {
        width: 264px;
    }
    #notificationLink h6{ width:100px; 
                          font-weight:normal;
                          white-space:nowrap;
                          text-overflow:ellipsis;
                          overflow:hidden;
    }
    .profile_img_left span {
        left: -14px!important;
        top: 93px !important;
        font-size: 10px;
    }
    .profile_cont_right {
        margin-left: 5%;
    }

    #menu {
        position: absolute;
        width:245px;
        /*height:100%;*/
        box-shadow:0 0 5px #d1d1d1; -moz-box-shadow:0 0 5px #d1d1d1; -webkit-box-shadow:0 0 5px #d1d1d1;

    }	

    .left { left:-260px; }

    .show { left:-13px; }

    #showmenu {
        margin-left: 100%;
        position: absolute;
        top:-53px;
        color:#ff7600;
        outline:0;
        left:5px;
        padding: 6px 10px 7px 5px;
        border:0px;
        display:block;
    }

    .show #showmenu{
        margin-left:0 !important;
    }
    .main_col {
        top:0px;
        margin-top: 10px;
    }
    .leftcol { width:0; float:left; margin-right:0; z-index: 999; position: absolute; background: none;}
    .mCustomScrollBox, .mCSB_container {  
        overflow: visible !important;
    }


    .rightcol { width:100%; position: relative;  }
    #example_wrapper { width:100%; overflow-x:scroll;  }
    .div.dataTables_length, div.dataTables_filter, div.dataTables_info, div.dataTables_paginate,div.dataTables_length, div.dataTables_filter, div.dataTables_info, div.dataTables_paginate { text-align:left; }
    .btn_set{
        text-align:left;
        margin-left: 15px;
    }
    .btn_set_new{
        text-align:left;
        margin-left: 0;
    }
    .footer ul {
        padding: 0;
    }
    .quick_links_block{
        display:none;
    }


    /* ------- Create Lead css start ---------- */


    .input_change {
        width: 80%;
    }
    .remodal {
        max-width: 455px !important;
    }
    .remodal {
        padding:0 !important;
        min-height:0 !important;
        border-radius:10px !important;
        width: 94.7% !important;
    }
    /* calculator css start */
    #calculator {
        width: 283px;
        margin: 44px auto;
    }
    .keys span, .top span.clear {
        width: 55px;
    }
    .top .screen {
        width: 177px;
    }
    /* calculator css end */


    /* alert page css */
    .common_whitebg .alert:last-child{margin-bottom:10px;
    }
    .common_whitebg .alert:first-child{margin-top:10px;
    }

    /* 404 page css */

    .erroe_bg img{ width:100%;
    }
    .error_main {top: 40px;}
    .erroe_bg p{font-size:16px;}

    /* Theme Changer */
    /*.Content-main { 
        top: 20px;
    }*/

    .Stick_test{display:block;
    }




    /* Feeds page css start */

    .commented_statbox {
        text-align: center;
    }
    .commented-block p {
        text-align: center;
    }
    .porf_pic {
        width: 20%;
        float: none;
        display: inline-block;
        margin-bottom: 5px;
    }
    .Comment_Right_block {
        width: 100%;
        margin:0;
    }
    .Feed_fromcontent {
        width: 100%;
    }
    .Feed_fromcontent p {
        margin: 0;
    }
    .Feed_content_title_main {
        width: 79%;
    }
    .porf_pic_inner {
        width: 16%;
    }
    .Feed_content_title_main p{
        text-align:left;
    }
    .feed_date_new{
        text-align: left;
    }
    .help_icon {
        text-align: center;
        margin-bottom: 10px;
    }


    /* Mailbox page css start */

    .text-muted{
        display:none;
    }
    .Email-Title{
        width: 85%;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap; 
        text-overflow: ellipsis; 
        margin-top: 5px;
    }
    .name{
        min-width: 90px;
    }
    /*.tabing .nav>li>a {
            position: relative;
            display: block;
            padding: 10px 8px;
    }*/
    .btn_group_resp{
        text-align:center;
    }
    .btn_group_resp .pull-right{
        float:none !important;
        margin-top:10px;
    }
    .resp_mer_top{
        margin-top:10px !important;
    }

    /* compose email css */

    .note-editor .note-toolbar .note-color .dropdown-menu {
        min-width: 170px;
    }


    /* notification alert dropdown css start */

    .notification_pad .dropdown-menu {
        right: -181px !important;
        left: inherit;
    }
    .notifications {
        min-width: 270px;
    }


    /* megadropdown css start */

    .mega-dropdown-menu {
        width: 252px;
    }	
    .mega-dropdown-main .dropdown-menu {
        right: -212px !important;
    }
    .mega-dropdown-menu:after {
        left: 8px;
    }
    .mega-dropdown-menu:before {
        left: 10px;
    }


    /* crop images css start */



    #preview {
        width: 208px;
        height: 208px;
    }
    .jcrop-holder{
        width: 200px !important;
        height: 200px !important;
        bottom: 74px;
    }

    #preview .buttons {
        position: relative !important;
        right: 0px !important;
    }
    #preview .buttons .ok {
        position: relative !important;
        top: -82px !important;
        left: 39px !important;
    }
    #preview .buttons .cancel {
        position: relative !important;
        top: -42px !important;
    }



    /* added new for sticky btn */
    .dis_blck div:nth-child(2){
        display:none;
    }
    .stick_btn {
        width: 100%;
        float: left;
        top: -7px;
    }
    .sticky_div{
        top:0 !important;
    }
    .Left-Head, .submit-Btn{
        width:100%;
    }
    .submit-Btn .btn{
        margin:3px !important;
    }
    .martop_10{margin-top:0;
    }


    /*common first pages */

    .coomon_main { text-align:center !important; }
    .coomon_main_left {
        width:100%;
        margin-right:0;
        text-align:center;
        margin-bottom:15px;	
    }
    .marg10 { margin-bottom:10px !important; }


    /* added by ankit patel */

    .category_count_inner {
        right: 65px !important;
    }
    .category_more {
        width: 260px;
        right: 13px !important;
        /*padding: 10px 10px;*/
        margin-top: 47px;
    }
    .category_inner {
        width: 100%;
        margin:0;
    }
    .category_more:before {
        right: 91%;
		margin-right:-24px;
    }
    .category_more:after {
        right: 91%;
		margin-right:-25px;	
    }

    #labelappend .col-md-4 {
        width: 96%;
        float: left;
    }
    .require_field i, #labelappend i{
        right:11px !important;
    }
    .tabs ul li a span{
        display:none;
    }

    .Content-main-new {
        right: -245px;
        width: 245px;
        top: 200px;
    }
    .pull {
        right: 0;
    }
    .description_block p {
        width: 100%;
        float: left;
        margin-bottom: 0;
    }


    /* sticky navigation class */

    .left_inner{
        width:100%;
        float:left !important;
        position:relative !important;
        z-index: 3;
    }
    .rwd-table {
        border: 0 !important;
    }
    .rwd-table td{
        border: 0 !important;
    }
    .rwd-table tr{
        border-bottom: 1px solid #d1d1d1;
    }
    .rwd-table td:before {
        width: 40%;
    }

    /* Inbox Details page css start */

    .option_block {
        width: 100%;
        text-align: left;
        margin-top: 10px;
    }
    .inbox_deatils .email_box_details {
        width: 98%;
        margin-top: 10px;
    }
    .reply_cover_block {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }

    /* Product Page css start */

    .product_block .col-md-4{
        border-right:0;
        border-bottom:1px solid #ccc !important;
    }
    .btn_short{
        opacity:1;
    }
    .product_innerblock i {
        font-size: 60px;
    }
    .btn_short i{
        font-size:15px;
    }
	
	/* New added with Correction */
	
	#allnotifications .Feed_content_title {    
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.feeds_content_main {
		text-align:center;
	}
	.Feed_fromcontent_left {
		float: none;
		display: inline-block;
		margin-bottom: 6px;
	}
	.Feed_fromcontent {
		text-align: left;
	}
	.add-comment {
		margin: 1.5% 2% 2% 2%;
	 }
	 .common_whitebg .form-horizontal .form-group {
		margin-left: -9px !important;
	}
	.remodal-close {
		top: 9% !important;
		right: 2% !important;
	}
	.btn-group, .btn-group-vertical {
		margin: 2px 0px;
	}
	.owner_img .owner_img_btn {
		display: block;
	}
	.common_whitebg h4 {
		font-size: 14px;
	}
	.margn_top{
		margin-top:0 !important;
	}
	.product_innerblock .halfdiv{
		width: 49%;
	}
	.product_innerblock .halfdiv:first-child{
		border-right:1px solid #d1d1d1;
		padding-right:45px;
	}
	.product_innerblock .halfdiv:last-child{
		padding-right:45px;
	}
	.product_innerblock .halfdiv .btn_short {
		right: 30px;
	}
	.product_innerblock .halfdiv > a{
		padding: 43px 0 ;
	}
	.dropdown-menu {    
		left: inherit;
		right: 0;
	}
	.tab-pane.active .form-box-main{
		overflow-x: scroll;
	}
	.tab-pane.active .form-box-main h4{
		width:900px
	}
	.tab-pane.active .form-box-main table{
		width:900px
	}
	.commented-block{
		text-align:center;
	}
	.notelist .attachments{
		float:none !important;
	}
	#preview_detail{
		text-align:center;
	}
	#print_preview {
		text-align: left;
	}
	#preview_detail button, #preview_detail a{
		margin:3px 1px;
	}
	.utilitylistform td i {
		display: block;
	}
	.package_table { 
		overflow-x: scroll;
	}
	.package_table table { 
		width:900px !important
	}
	.input-group.bootstrap-timepicker{
		padding-right: 15px;
    	padding-left: 15px;
	}
	.btn-file {
    	top: 0px;
	}
	.submit-close-btn {
    	width: 20%;
	}
	.owner-div .Hover_link{
		visibility:visible;
	}
	.viewpage .btn_set_new {
		margin-top: 0px !important;
		right: 0px !important;
		position: relative !important;
		margin-bottom: 10px !important;
	}
	
		
	

}

@media only screen and (min-width:480px) and (max-width:767px){

    .white_bg {
        position: initial;
    }	
    .pad_none_left{padding:0;}
    .pad_none_right{padding:0;}
    .pad_none{padding-left:15px;}
    .logo {
        width: 28%;
        margin-left: 6%;
        margin-top: 1.5%;
    }
    .logo img{
        width: 100%;
    }
    .logo_right { width: 66%;
                  text-align: right !important;
    }
    .block_line {
        text-align: right;
        width: 89%;
        float:right;
    }
    .note_padding { margin-left:0; margin-top:6px; text-align:center; }
    .notification_pad {  margin-right:5px; }

    #notificationContainer {
        /*margin-left: -115px;*/
        right:0;
    }	
    #menu {
        position: absolute;
        width:245px;
        /*height:100%;*/
        box-shadow:0 0 5px #d1d1d1; -moz-box-shadow:0 0 5px #d1d1d1; -webkit-box-shadow:0 0 5px #d1d1d1;
    }	

    .left { left:-260px; }

    .show { left:-13px; }

    #showmenu {
        margin-left: 100%;
        position: absolute;
        top: -58px;
        color: #ff7600;
        outline: 0;
        left: 5px;
        padding: 6px 10px 7px 5px;
        border: 0px;
        display: block;
    }

    .show #showmenu{
        margin-left:0 !important;
    }
    .main_col {
        top:0px;
        margin-top: 10px;
    }
    .leftcol { width:0; float:left; margin-right:0; /*top: 0;*/ z-index: 999; position: absolute; background: none;}
    .mCustomScrollBox, .mCSB_container {  
        overflow: visible !important;
    }

    .rightcol { width:100%; position:relative; z-index: 1; }
    #example_wrapper { width:100%; overflow-x:scroll; }
    .div.dataTables_length, div.dataTables_filter, div.dataTables_info, div.dataTables_paginate,div.dataTables_length, div.dataTables_filter, div.dataTables_info, div.dataTables_paginate { text-align:left; }	
    .btn_set{
        text-align:left;
        margin-left: 15px;
    }
    .btn_set_new{
        text-align:left;
        margin-left: 0;
    }
    .footer{margin-top:10px;
    }
    .quick_links_block{
        display:none;
    }

    /* ------- Create Lead css start ---------- */


    .remodal {
        max-width: 455px !important;
    }
    .remodal {
        padding:0 !important;
        min-height:0 !important;
        border-radius:10px !important;
    }


    /* added new */

    .erroe_bg img{ width:100%;
    }

    /* Mailbox page css start */

    .text-muted{
        display:none;
    }
    .Email-Title{
        width: 120px;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .btn_group_resp .pull-right{
        margin-top:10px;
    }
    .resp_mer_top{
        margin-top:10px !important;
    }


    /* notification alert dropdown css start */

    .notification_pad .dropdown-menu {
        right: -134px !important;
        left: inherit;
    }


    /* megadropdown css start */

    .mega-dropdown-menu {
        width: 300px;
    }
    .mega-dropdown-menu:after {
        right: 121px;
    }
    .mega-dropdown-menu:before {
        right: 123px;
    }


    /* added new for sticky btn */
    .dis_blck div:nth-child(2){
        display:none;
    }
    .stick_btn {
        width: 100%;
        float: left;
        top: -6px;
    }
    .sticky_div{
        top:0 !important;
    }

    /*common first pages */

    .coomon_main { text-align:center !important; }
    .coomon_main_left {
        width:100%;
        margin-right:0;
        text-align:center;
        margin-bottom:15px;	
    }


    /* added by ankit patel */
    .category_more {
        width: 375px;
        right: 65px !important;
    }
    .check {
        width: 200px;
        right: 163px !important;
    }
    .category_inner {
        width: 44%;
    }
    .category_more:before {
        right: 45%;
		margin-right: -25px;
    }
    .category_more:after {
		right: 45%;
	    margin-right: -27px;
    }
    .check:after {
        right: 32%;
		margin-right: -19px;
    }
    .check:before {
        right: 32%;
		margin-right: -17px;
    }
    #labelappend .col-md-4 {
        width: 97%;
        float: left;
    }
    .tabs ul li a span{
        display:none;
    }

    /* sticky navigation class */

    .left_inner{
        width:100%;
        float:left !important;
        position:relative !important;
        z-index: 3;
    }

    /* Product Page css start */

    .product_block .col-md-4{
        border-right:0;
        border-bottom:1px solid #ccc !important;
    }
    .btn_short{
        opacity:1;
    }
	
	.remodal-close {
		top: 19% !important;
		right: 12.5% !important;
	}
	.owner_img .owner_img_btn {
		display: block;
	}
	
	
	
	/* new css added with correction*/
	
	.utilitylistform td i {
		display: block;
	}
	.Content-main-new {
		top: 110px;
	}
	.panel_new {
		overflow-y: scroll;
		height: 170px;
	}
	.common_whitebg .form-horizontal .form-group {
		margin-left: -5px !important;
	}
	.col-md-10.text-right{
		text-align:center !important;
	}
	.col-md-10.text-right .btn-group-sm {
		margin:2px 0 !important;
	}
	.col-md-10.text-right .btn-group-sm a.importbtn {
		margin:2px 0 !important;
	}
	.margn_top {
		margin-top: 0px !important;
	}
	.viewpage .btn_set_new {
    	margin-top: -2px !important;
	}
	.owner-div .Hover_link{
		visibility:visible;
	}
	.product_innerblock .halfdiv{
		width: 49%;
	}
	.product_innerblock .halfdiv:first-child{
		border-right:1px solid #d1d1d1;
		padding-right:45px;
	}
	.product_innerblock .halfdiv:last-child{
		padding-right:45px;
	}
	.product_innerblock .halfdiv .btn_short {
		right: 30px;
	}
	#preview_detail {
		text-align: center;
	}
	#print_preview {
		text-align: left;
	}
	.input-group.bootstrap-timepicker{
		padding-right: 15px;
    	padding-left: 15px;
	}
	.btn-file {
		top: 0px;
	}
	
}

@media only screen and (min-width:768px) and (max-width:999px){

    .white_bg {
        position: initial;
    }
    .pad_none_left{padding:0;}
    .pad_none_right{padding:0;}
    .logo {
        width: 29%;
        margin-left: 9%;
    }	
    .logo_right { width: 61%;
                  text-align: right !important;
                  padding: 0 0.5%;
    }
    .block_line {
        text-align: right;
        width: 100%;
    }
    .note_padding { margin-left:0; margin-top:6px; text-align:center; }
    .notification_pad {  margin-right:5px; }

    #notificationContainer {
        /*margin-left: -128px;*/
        right:0;
		z-index: 999;
    }	


    #notificationContainer {
        margin-left: -111px;
    }	


    #menu {
        /*position: relative;*/
        position: absolute;
        width:245px;
        /*height:100%;*/
        box-shadow:0 0 5px #d1d1d1; -moz-box-shadow:0 0 5px #d1d1d1; -webkit-box-shadow:0 0 5px #d1d1d1;

    }	

    .left { left:-260px; }

    .show { left:-13px; }

    #showmenu {
        margin-left: 100%;
        position: absolute;
        top:-60px;
        color:#ff7600;
        outline:0;
        left:5px;
        padding: 6px 10px 7px 5px;
        border:0px;
        display:block;
    }

    .show #showmenu{
        margin-left:0 !important;
    }
    .main_col {
        top:0px;
        margin-top: 10px;
    }
    .leftcol { width:0; float:left; margin-right:0; /*top: 0;*/  z-index: 999; position: absolute; background: none; }

    .mCustomScrollBox, .mCSB_container {  
        overflow: visible !important;
    }

    .rightcol { 
        width:100%; 
        /*position:absolute;  */
        position:relative;
    }
    .footer{margin-top:10px;
    }
    .quick_links_block{
        display:none;
    }


    /* added new */

    .erroe_bg img{ width:100%;
    }


    /* Mailbox page css start */

    .text-muted{
        display:none;
    }

    /* Profile page css start */
    .owner-edit-div .btn{
        padding:5px 10px;
    }

    /* megadrop down css start */

    .mega-dropdown-menu {
        width: 507px;
    }


    /* added new for sticky btn */
    .dis_blck div:nth-child(2){
        display:none;
    }
    .stick_btn {
        width: 100%;
        float: left;
        top: -7px;
    }
    .sticky_div{
        top:0 !important;
    }

    /*common first pages */


    .coomon_main_right {
        width:80%;
    }

    /* added by ankit patel */

    .category_more {
        width: 485px;
    }
    .check {
        width: 200px;
        right: 161px !important;
    }
    .category_more:before {
        right: 37%;
	    margin-right: -19px;
    }
    .category_more:after {
		right: 37%;
		margin-right: -21px;
    }
    .check:after {
        margin-right: -26px;
    }
    .check:before {
        margin-right: -24px;
    }

    /* sticky navigation class */

    .left_inner{
        width:100%;
        float:left !important;
        position:relative !important;
        z-index: 3;
    }

    /* Product Page css start */

    .product_innerblock i {
        font-size: 60px;
    }
    .btn_short i{
        font-size:15px;
    }	
	
	.remodal-close {
		top: 23% !important;
		right: 25.5% !important;
	}
	
	.owner_img .owner_img_btn {
		display: block;
	}

}



@media (min-width:992px) and (max-width:1199px) {

    .input_change {
        width: 85%;
        float: left;
    }	

    /* megadrop down css start */

    .mega-dropdown-menu {
        width: 700px;
    }

}

@media only screen and (max-width:767px){
    .owner-edit-div{
        text-align:center;
    }

    .owner-edit-div .btn-group{
        margin:3px;
    }

    .owner-edit-div .pull-right{
        margin:3px;
        float:none !important;
    }
}


@media only screen and (min-width:992px){

    #labelappend .col-md-4 {
        width: 44.333333%;
    }
    #labelappend label{
        width:20% !important;
    }
}

@media (max-width:991px) {
    #labelappend .col-md-3{
        padding-right: 15px;	
    }
    #labelappend .col-md-4{
        padding-right: 15px;
        padding-left: 15px;	
    }
    /*.require_field i {
            right: 5px !important;
            top: initial !important;
            bottom: 15px !important;
    }*/	
}

@media (min-width:768px) and (max-width:991px) {
    #labelappend .col-md-4 {
        width: 97%;
        float: left;
    }

}



/* responsive table class start */

@media (min-width: 480px) {
    .rwd-table td:before {
        display: none;
    }
    .rwd-table th, .rwd-table td {
        display: table-cell;
        padding: .25em .5em;
    }
    .rwd-table th:first-child, .rwd-table td:first-child {
        padding-left: 0;
        text-align: center;
    }
    .rwd-table th:last-child, .rwd-table td:last-child {
        padding-right: 0;
    }
    .rwd-table th, .rwd-table td {
        padding: 7px 1em !important ;
    }
}
/* responsive table class end */